<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

	<!-- Bootstrap Select -->
	<script src="/bootstrap-select-1.13.2/dist/js/bootstrap-select.js"></script>
	<link rel="stylesheet" href="/bootstrap-select-1.13.2/dist/css/bootstrap-select.css">

	<!-- Handlebars client-side -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js"></script>

	<!-- Load Require.js -->
	<!-- <script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script> -->

	<!-- My code -->
	<script src="scripts/ui_functions.js"></script>
	<script src="scripts/fbb_equations.js"></script>
	<script src="scripts/interactivity.js"></script>
	<link rel="stylesheet" href="stylesheets/styles.css">

	<link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
	<link rel="manifest" href="images/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<title>Fantasy Baseball Auction</title>
</head>

<body>

	<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  	<div class="modal-dialog modal-lg">
	    	<div class="modal-content">
	      		<div class="container-fluid">
	      			<div class="modal-section row">
	      				<div class="col text-center">
	      					<h3>League Settings</h3>
	      				</div>
	      			</div>
	      			<div class="modal-section row">
	      				<div class="col">
	      					<h5>Projection Source</h5>
	      					<select id="proj-source" class="selectpicker" data-width="150px">
	      						<option>RotoChamp</option>
	      						<option>Steamer</option>
	      					</select>
	      					<button id="revert-pick" type="button" class="btn btn-danger modal-keeper-form">Revert</button>
	      				</div>
	      			</div>
	      			<div class="modal-section row">
	      				<div class="col">
	      					<h5>Revert Pick</h5>
	      					<select id="revert-list" class="selectpicker modal-keeper-form" data-size="10" data-live-search="true">
	      						<option>Max Scherzer</option>
	      					</select>
	      				</div>
	      			</div>
	      			<div class="modal-section row">
	      				<div class="col-5 keeper-divider">
	      					<h5>Add Keeper</h5>      					
	      					Player: &nbsp;&nbsp;&nbsp;<select id="keeper-options" class="selectpicker modal-keeper-form" data-size="10" data-live-search="true">
	      					</select><br>
	      					Team: &nbsp;&nbsp;&nbsp;&nbsp;<select id="keeper-team" data-width="90px" class="selectpicker modal-keeper-form">
	      						{{#each data}}
								<option data-subtext='{{display}}'>{{owner}}</option>
								{{/each}}
	      					</select><br>
	      					Price: &nbsp;&nbsp;&nbsp;&nbsp;$<input class="modal-keeper-form" id="keeper-quantity" style="height: 40px; width: 60px;" type="number" name="quantity" min="1" max="250"><br>

	      					<button id="keeper-submit" type="button" class="btn btn-success modal-keeper-form">Submit</button>
	      		
	      				</div>
	      				<div class="col-7">
	      					<h5 id="keeper-header-margin">Keepers</h5>
	      					<table class="table table-sm keeper-table">
								<tbody id="keeper-list">
								</tbody>
							</table>
	      				</div>
	      			</div>
	      		</div>
	    	</div>
	  	</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col top-bar">
				<h2 id="app-title">JC</h2>
				<div id="settings-menu">
					<a id="settings-button" href="#" data-toggle="modal" data-target=".bd-example-modal-lg">
						<img src="images/settings.png" height="23" alt="settings">
					</a>
				</div>
			</div>
		</div>
		<div class="app-window thin-border-bottom-right">
			<div class="row">
				<div class="col-2 left-sidebar">
					<div class="row thin-border">
						<div style="padding-bottom: 13px;" class="col center-contents margin-below small-margin-top">
							<h5 class="text-center">Nominate Players</h5>
							<select id="nominate-list" class="selectpicker" data-size="10" data-live-search="true">
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col thin-border">
							<h5 class="text-center small-margin-top">Draft Log</h5>
							<div id="draft-log-box">
								<table class="table table-sm table-borderless">
								  <tbody id="draft-log">
								  </tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-10">
					<div class="row border-under">
						<div class="col-9">
								<div class="row">
									<div class="col-9">
										<div class="row">
											<div class="col-6">
												<div class="main-details">
													<h2 id="nominated-player">Select a Player</h2>
													<p id="player-details">Pos - Team</p>
													<p id="suggested-val"><b>Suggested Value: </b>$</p>
													<p>Other players to consider:</p>
													<ul id="similar-players">
														<li> </li>
														<li> </li>
													</ul>
												</div>
											</div>
											<div class="col-6">
												<div class="bid-box">
													$<input id="bid-quantity" type="number" name="quantity" min="1" max="250">
													<select id="bidding-team" class="selectpicker" data-width="90px">
														{{#each data}}
													    <option data-subtext='{{display}}'>{{owner}}</option>
													    {{/each}}
													</select>
													<select id="roster-spot" class="selectpicker" data-width="75px">
														<option>C</option>
														<option>1B</option>
														<option>2B</option>
														<option>SS</option>
														<option>3B</option>
														<option>MI</option>
														<option>CI</option>
														<option>OF</option>
														<option>U</option>
														<option>P</option>
													</select>
													<button id="bid-accepted" type="button" class="btn btn-success submit-bid">Submit</button>
												</div>
												<table class="table table-sm stats-table green-table thin-border">
												  <thead>
												    <tr id="stats-categories">
												      <th scope="col"></th>
												      <th class="column-center" scope="col">ERA</th>
												      <th class="column-center" scope="col">K</th>
												      <th class="column-center" scope="col">S</th>
												      <th class="column-center" scope="col">W</th>
												      <th class="column-center" scope="col">WHIP</th>
												    </tr>
												  </thead>
												  <tbody>
												    <tr id="2019Proj">
												      <th scope="row">Stats</th>
												      <td></td>
												      <td></td>
												      <td></td>
												      <td></td>
												      <td></td>
												    </tr>
												    <tr id="cat-values">
												      <th scope="row">Value</th>
												      <td></td>
												      <td></td>
												      <td></td>
												      <td></td>
												      <td></td>
												    </tr>
												  </tbody>
												</table>
											</div>
										</div>
										<div class="row">
											<div class="col">
												
												<table class="table thin-border">
													<thead>
														<tr>
													      <th scope="col">
													      	<select id="active-stats-team" class="selectpicker" data-width="90px">
																{{#each data}}
																<option data-subtext='{{display}}'>{{owner}}</option>
																{{/each}}
															</select>
													      </th>
													      <th class="column-right" scope="col">HR</th>
													      <th class="column-right" scope="col">OBP</th>
													      <th class="column-right" scope="col">R</th>
													      <th class="column-right" scope="col">RBI</th>
													      <th class="column-right" scope="col">SB</th>
													      <th class="column-right" scope="col">ERA</th>
													      <th class="column-right" scope="col">K</th>
													      <th class="column-right" scope="col">S</th>
													      <th class="column-right" scope="col">W</th>
													      <th class="column-right" scope="col">WHIP</th>
													    </tr>
													</thead>
													<tbody>
														<tr id="team-stats">
													      <th scope="row"><a id="swap-vals-stats" href="#">Totals</a></th>
													      <td>0</td>
													      <td>0</td>
													      <td>0</td>
													      <td>0</td>
													      <td>0</td>
													      <td>0</td>
													      <td>0</td>
													      <td>0</td>
													      <td>0</td>
													      <td>0</td>
													    </tr>
													    <tr id="totals-vals">
													      <th scope="row">Targets</th>
													      <td class="column-right">300</td>
													      <td class="column-right">0.340</td>
													      <td class="column-right">1000</td>
													      <td class="column-right">950</td>
													      <td class="column-right">125</td>
													      <td class="column-right">3.60</td>
													      <td class="column-right">1300</td>
													      <td class="column-right">75</td>
													      <td class="column-right">90</td>
													      <td class="column-right">1.20</td>
													    </tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
									<div class="col-3">
										<div class="hp-budgets">
											<h5 id="hitter-budget">Hitting: $131</h5>
											<h5 id="pitcher-budget">Pitching: $91</h5>
										</div>
										<table class="table table-sm table-hover budget-table">
										  <thead>
										    <tr>
										      <th scope="col">Owner</th>
										      <th class="column-center" scope="col">Max</th>
										      <th class="column-center" scope="col">Left</th>
										      <th class="column-right" scope="col">H</th>
										      <th class="column-right" scope="col">P</th>
										    </tr>
										  </thead>
										  <tbody id="budgetTable">
										    {{#each data}}
										    <tr>
										    	<th scope="row">{{owner}}</th>
										    	<td>243</td>
										    	<td>{{toRem spent}}</td>
										    	<td>0</td>
										    	<td>0</td>
										    </tr>
										    {{/each}}
										  </tbody>
										</table>
									</div>
								</div>
						</div>
						<div class="col-3">
							<div style="margin-top: 10px;">	
								<select id="active-roster-team" class="selectpicker" data-width="90px">
								    {{#each data}}
									<option data-subtext='{{display}}'>{{owner}}</option>
									{{/each}}
								</select>
								<div style="margin-top: 10px;" class="roster-box">
									<table class="table table-sm roster-table">
									  <tbody id="team-roster">
									    <tr>
									      <th scope="row">C</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row">1B</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row">2B</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row">SS</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row">3B</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row">CI</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row">MI</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row">OF</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row">OF</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row">OF</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row">OF</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row">OF</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row"></th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row">U</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row">P</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row">P</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row">P</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row">P</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row">P</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row">P</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row">P</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row">P</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									    <tr>
									      <th scope="row">P</th>
									      <td></td>
									      <td></td>
									      <td></td>
									    </tr>
									  </tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="row margin-above">
							<div class="col">
								<div class="row">
									<div class="col-4">
										<h5 style="margin-top: 6px;">Hitters</h5>
										<div class="stats-table-fixed thin-border">
											<table class="table table-sm table-hover player-table">
												<thead>
													<tr>
												      <th class="big-col" scope="col">Name</th>
												      <th class="small-col column-center" scope="col">HR</th>
												      <th class="small-col column-center" scope="col">OBP</th>
												      <th class="small-col column-center" scope="col">R</th>
												      <th class="small-col column-center" scope="col">RBI</th>
												      <th class="small-col column-center" scope="col">SB</th>
												      <th class="small-col column-center" scope="col">$V</th>
												      <th class="small-col column-center" scope="col">$P</th>
												    </tr>
												</thead>
												<tbody id="hitter-stats">
												</tbody>
											</table>
										</div>
									</div>
									<div class="col-4">
										<h5 style="margin-top: 6px;">Pitchers</h5>
										<div class="stats-table-fixed thin-border">
											<table class="table table-sm table-hover player-table">
												<thead>
													<tr>
												      <th class="big-col" scope="col">Name</th>
												      <th class="small-col column-center" scope="col">ERA</th>
												      <th class="small-col column-center" scope="col">K</th>
												      <th class="small-col column-center" scope="col">S</th>
												      <th class="small-col column-center" scope="col">W</th>
												      <th class="small-col column-center" scope="col">WHIP</th>
												      <th class="small-col column-center" scope="col">$V</th>
												      <th class="small-col column-center" scope="col">$P</th>
												    </tr>
												</thead>
												<tbody id="sp-stats">
												</tbody>
											</table>
										</div>
									</div>
									<div class="col-4">
										<select id="stats-table-position" class="selectpicker" data-width="75px">
											<option>C</option>
											<option>1B</option>
											<option>2B</option>
											<option>SS</option>
											<option>3B</option>
											<option>MI</option>
											<option>CI</option>
											<option>OF</option>
											<option>U</option>
											<option>SP</option>
											<option>RP</option>
										</select>
										<div class="stats-table-fixed thin-border">
											<table class="table table-sm table-hover player-table">
												<thead>
													<tr>
												      <th class="big-col" scope="col">Name</th>
												      <th class="small-col column-center" scope="col">ERA</th>
												      <th class="small-col column-center" scope="col">K</th>
												      <th class="small-col column-center" scope="col">S</th>
												      <th class="small-col column-center" scope="col">W</th>
												      <th class="small-col column-center" scope="col">WHIP</th>
												      <th class="small-col column-center" scope="col">$V</th>
												      <th class="small-col column-center" scope="col">$P</th>
												    </tr>
												</thead>
												<tbody id="category-stats">
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</body>

</html>




